<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div class="container">
    <div class="cover">
      <img src="/assets/banner.jpg">
    </div>
    <div class="profileImage">
      <img src="/assets/profile.jpg">
    </div>
    <div class="row">

      <div class="span4 profile">
        <div class="about">
          <ul>
            <li>Background</li>
            <li>Address</li>
            <% for u in @user %>
            <p><%= u.first_name %></p> <br>
            <% end %>
          </ul>
        </div>

      </div>

      <div class="span7 timeline">
        
        <% for i in 0..5 %>
        <div class="post">
          <div class="username">
            <img src="/assets/profile.jpg">
            <p>Sivabudh Umpudh</p> 
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>

        <% end %>

        
      </div>


    </div>
    




    

  </body>
  </html>